<div class="row optionsMenu_wrapper">
  <div class="col mt-3">
    <div>
      <label>
        <span>Select hashtags to be displayed</span>
      </label>
      <mat-checkbox
        *ngFor="let hashtag of hashtags"
        class="d-block"
        [(ngModel)]="hashtag.use"
      >{{hashtag.name}}
      </mat-checkbox>
    </div>
    <div class="mt-2">
      <label>
        <span>Set data range for data</span>
      </label>
      <mat-form-field appearance="outline">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="dataRange" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
    <div class="d-flex justify-content-end mb-2">
      <button mat-stroked-button (click)="saveSettings()">Save</button>
    </div>
  </div>
</div>
