<div class="AdChart_wrapper">
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let item of possibleDataSources" (click)="changeGraph(item)">{{item}}</button>
  </mat-menu>
  <div *ngIf="dataLoaded">
    <p class="AdChart_chartTitle">Infections data</p>
    <fa-icon class="AdChart_settingsIcon" [matMenuTriggerFor]="menu" [icon]="cogIcon"></fa-icon>
    <div class="AdChart_stats">
      <app-simple-bar-chart
        [dataSets]="dataSets"
        [labels]="labels"
      ></app-simple-bar-chart>
    </div>
    <div class="row m-l-5 m-r-5">
      <div class="col-lg-3 text-center">
        <h2 class="font-weight-bold AdChart_number">{{std}}</h2>
        <h4 class="AdChart_text">Std</h4>
      </div>
      <div class="col-lg-3 text-center">
        <h2 class="font-weight-bold AdChart_number">{{min}}</h2>
        <h4 class="AdChart_text">Min</h4>
      </div>
      <div class="col-lg-3 text-center">
        <h2 class="font-weight-bold AdChart_number">{{max}}</h2>
        <h4 class="AdChart_text">Max</h4>
      </div>
      <div class="col-lg-3 text-center">
        <h2 class="font-weight-bold AdChart_number">{{mean}}</h2>
        <h4 class="AdChart_text">Mean</h4>
      </div>
    </div>
  </div>
  <div class="AdChart_spinnerWrapper">
  <mat-spinner class="spinner" *ngIf="!dataLoaded"></mat-spinner>
  </div>
</div>

